.navigation-container {
  width: 100%;
  height: 158px;
  display: flex;
  position: relative;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.navigation-navlink {
  display: contents;
}
.navigation-image {
  top: 10px;
  left: 47px;
  width: 132px;
  height: 137px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.navigation-container1 {
  flex: 0 0 auto;
  width: 1003px;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
}
.navigation-about {
  top: -25px;
  left: -25px;
  position: absolute;
  font-size: 40px;
  align-self: stretch;
  font-style: normal;
  transition: 0.3s;
  font-family: Mulish;
  font-weight: 600;
  text-decoration: none;
}
.navigation-about:hover {
  color: #68B4C5;
}
.navigation-about:active {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.navigation-skills-services {
  top: -25px;
  left: 169px;
  position: absolute;
  font-size: 40px;
  align-self: stretch;
  font-style: normal;
  transition: 0.3s;
  font-family: Mulish;
  font-weight: 600;
  text-decoration: none;
}
.navigation-skills-services:hover {
  color: #68B4C5 ;
}
.navigation-skills-services:active {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.navigation-portfolio {
  top: -25px;
  left: 520px;
  position: absolute;
  font-size: 40px;
  align-self: stretch;
  font-style: normal;
  transition: 0.3s;
  font-family: Mulish;
  font-weight: 600;
  text-decoration: none;
}
.navigation-portfolio:hover {
  color: #68B4C5;
}
.navigation-portfolio:active {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.navigation-contact-me {
  top: -25px;
  right: 31px;
  position: absolute;
  font-size: 40px;
  align-self: stretch;
  font-style: normal;
  transition: 0.3s;
  font-family: Mulish;
  font-weight: 600;
  text-decoration: none;
}
.navigation-contact-me:hover {
  color: #68B4C5;
}
.navigation-contact-me:active {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.navigation-root-class-name {
  top: 20px;
  left: 0px;
  position: absolute;
}
.navigation-root-class-name1 {
  top: 20px;
  left: 0px;
  position: absolute;
}
.navigation-root-class-name2 {
  top: 20px;
  left: 0px;
  position: absolute;
}
.navigation-root-class-name3 {
  top: 20px;
  left: 0px;
  position: absolute;
}
.navigation-root-class-name4 {
  top: 20px;
  left: 0px;
  position: absolute;
}
@media(max-width: 991px) {
  .navigation-container {
    height: 1478px;
  }
  .navigation-image {
    top: 56px;
    left: 395px;
    right: 61px;
    padding-left: 135px;
  }
}

.skills-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
.skills-rachel-robocker {
  top: 271px;
  left: 646px;
  position: absolute;
  align-self: flex-start;
  font-style: normal;
  font-weight: 900;
}
.skills-research-container {
  left: 131px;
  width: 463px;
  bottom: 0px;
  height: 387px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #68B4C5;
}
.skills-text {
  top: 12px;
  left: 12px;
  position: absolute;
  font-size: 24px;
  font-style: normal;
  font-family: Mulish;
  font-weight: 600;
}
.skills-research {
  top: 506px;
  left: 246px;
  position: absolute;
  font-size: 50px;
}
.skills-container1 {
  left: 745px;
  width: 463px;
  bottom: 0px;
  height: 387px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #D1F7FF;
}
.skills-text2 {
  top: 12px;
  left: 12px;
  position: absolute;
  font-size: 24px;
  font-style: normal;
  font-family: Mulish;
  font-weight: 600;
}
.skills-container2 {
  right: 100px;
  width: 463px;
  bottom: 0px;
  height: 387px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #68B4C5;
}
.skills-text3 {
  top: 12px;
  left: 12px;
  position: absolute;
  font-size: 24px;
  font-style: normal;
  font-family: Mulish;
  font-weight: 600;
}
.skills-design {
  top: 506px;
  left: 890px;
  position: absolute;
  font-size: 50px;
}
.skills-design1 {
  top: 506px;
  left: 1475px;
  position: absolute;
  font-size: 50px;
}
@media(max-width: 479px) {
  .skills-rachel-robocker {
    font-size: 48px;
  }
  .skills-research-container {
    width: 478px;
    bottom: 485px;
    height: 326px;
    padding-left: 0px;
  }
  .skills-research {
    top: 592px;
    font-size: 30px;
  }
  .skills-container1 {
    width: 478px;
    bottom: 485px;
    height: 326px;
    padding-left: 0px;
  }
  .skills-container2 {
    width: 478px;
    bottom: 485px;
    height: 326px;
    padding-left: 0px;
  }
  .skills-design {
    top: 592px;
    font-size: 30px;
  }
  .skills-design1 {
    top: 592px;
    font-size: 30px;
  }
}
