<div>
  <link href="./navigation.css" rel="stylesheet" />
  <div class="navigation-container">
    <a href="index.html" class="navigation-navlink">
      <img
        alt="image"
        src="public/playground_assets/logo-200w.png"
        class="navigation-image"
      />
    </a>
    <div class="navigation-container1">
      <a href="about.html" class="navigation-about">About</a>
      <a href="skills.html" class="navigation-skills-services">
        Skills/Services
      </a>
      <a href="portfolio.html" class="navigation-portfolio">Portfolio</a>
      <a href="contact-me.html" class="navigation-contact-me">Contact Me</a>
    </div>
  </div>
</div>
