<div>
  <link href="./navigation.css" rel="stylesheet" />
  <div class="navigation-container">
    <img
      src="public/playground_assets/logo-200w.png"
      alt="image"
      class="navigation-image"
    />
    <div class="navigation-container1">
      <a href="about.html" class="navigation-about">About</a>
      <span class="navigation-skills-services">Skills/Services</span>
      <span class="navigation-portfolio">Portfolio</span>
      <span class="navigation-contact-me">Contact Me</span>
    </div>
  </div>
</div>
